<!DOCTYPE html>
<html>
  <head>
    <title>Hire_NOw</title>

    <link
      href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7CPT+Serif:400,700,400italic"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans"
      rel="stylesheet"
    />
  </head>
 <center> <body>
    <div class="bgimage">
      <div class="menu">
        <div class="leftmenu">
          <h3><a href="home.html">Hire_NOw</a></h3>
        </div>
        <div class="rightmenu">
          <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact us</a></li>

            <li><a href="">About Us</a></li>

          </ul>
        </div>
      </div>
      <div class="text">
        <h3>SEARCH • CHOOSE • RELAX</h3>
        <h1>WE CARE ABOUT YOU!</h1>
        <h2>STAY HOME , STAY SAFE</h2>
        <button id="buttonone" < onclick="window.location.href='login.php';">
          Login
        </button>
		<div class="dropdown">
        <button class="buttontwo">
          Sign-Up </button>
          <div>



              <a href="Signupemployee.php">Employee</a>


              <a href="Signupuser.php">Users</a>


          </div>

      </div>
    </div>
	</div>
  </body></center>
</html>
